<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="specdoctor2module" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\pythonsites\specdoctor2\scripts\python.exe|c:\pythonsites\specdoctor2\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\pythonsites\specdoctor2" />
        <add key="WSGI_HANDLER" value="flask_app.wsgi_app" />
    </appSettings>
</configuration>
